<h2>Edit Your Comment</h2>

<h4>Disscussion: </h4>
<ul>
<% @book_club.comments.each do |comment| %>
  <li><%= comment.user.name != nil ? comment.user.name : comment.user.email %> : <%= comment.content %></li>
<% end %>
</ul>

<%= form_for @comment do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@comment.errors.count, "error")%>
        prohibited this comment from being saved:
      </h4>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %> 
    </ul>
    </div>
  <%end%>

  <%= f.text_area :content %><br>
  <%= f.hidden_field :book_club_id, value: @book_club.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<%end%>

<%= button_to "Delete Comment", book_club_comment_path(@comment.book_club), method: :delete %>



