
  <h2><%=@book_club.name%>'s discussion on <%= @book_club.book.title %></h2>

  <h4><%= @book_club.name%> Members</h4>
  <ul>
  <% @book_club.users.each do |user| %>
    <li><%= user.name_or_email %></li>
  <% end %>
  </ul>

  <h4>Disscussion: </h4>

<%= render 'shared_views/show_and_create_comments' %>

  <br><br>

  <% if current_user.id == @book_club.owner_id %>
    <%= button_to "Delete Club", book_club_path(@book_club), method: :delete %>
  <% else %>
    <%= form_for @book_club do |f| %>
      <%= f.submit "Leave Club" %> 
    <% end %> 
  <%end%>



