<h2><%= @book.title%> by <%= link_to @book.author.name, author_path(@book.author)%></h2>
<h4>Genre: <%= link_to @book.genre.name, genre_path(@book.genre)%></h3>
<h4>Page Count: <%= @book.page_count%></h3>
<br>

<% if !current_user.books.include?(@book) %>
  <%= form_for current_user do |f|%>
    <%= f.hidden_field :book, value: @book.id %>
    <%= f.submit "Add to Read Books" %>
  <% end %>
<%else%>
  <p>You've read this book.</p>
<% end %>
<br>

<%= form_for @book_club do |f|%>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.submit "Create Book Club" %>
<% end %>
