<h2><%= @book.title%> by <%= link_to @book.author.name, author_path(@book.author)%></h2>
<h4>Genre: <%= link_to @book.genre.name, genre_path(@book.genre)%></h3>
<h4>Page Count: <%= @book.page_count%></h3>
<br>

<% if !current_user.books.include?(@book) %>
  <%= form_for current_user do |f|%>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.submit "Add to Read Books" %>
  <% end %>
<%else%>
  <p>You've read this book.</p>
<% end %>
<br>
<h4>Create Book Club on <%= @book.title%></h4>
<%= form_for @book_club do |f|%>
  <% if @book_club.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@book_club.errors.count, "error")%>
        prohibited this book_club from being saved:
      </h4>
  <ul>
    <% @book_club.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %> 
    </ul>
    </div>
  <%end%>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :passcode %>
   <%= f.text_field :passcode %><br>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.hidden_field :owner_id, value: current_user.id %>
  <%= f.submit "Create Book Club on #{@book.title}" %>
<% end %>
