<h2><%= current_user.name_or_email%> Homepage </h2>

  <h3>My Book Clubs:</h3>
<% if !current_user.book_clubs.empty?%>
  <ul>
  <% current_user.book_clubs.each do |book_club| %>
  <li><%= link_to book_club.name, book_club_path(book_club) %></li>
  <%end%>
  </ul>
<%else%>
  You have no current Book Clubs. 
<%end%>
<%= button_to "Join Existing Book Club", book_clubs_path, method: :get %>
<br>

<h3>My Read Books: </h3>
<% if !current_user.books.empty?%>
  <ul>
  <% current_user.books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %> by <%= link_to book.author.name, author_path(book.author) %> - <%= link_to book.genre.name, genre_path(book.genre) %> - <%= book.page_count %> pages</li>
  <%end%>
  </ul>
<%else%>
  You have no read books. 
<%end%>


<%# <%= button_to 'Create new Book Club', new_book_club_path, method: :get %>
<%= button_to 'Browse Books', books_path, method: :get %>
<%= button_to 'Browse Authors', authors_path, method: :get %>
<%= button_to 'Browse Genres', genres_path, method: :get  %>